.container
{
    
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    margin: 4.688rem auto;
}

.imagegroup
{
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;    

    margin: auto 1.125rem;

    transition: transform 0.25s ease;
}

.imagegroup:hover
{
    transition: transform 0.25s ease;

    transform: scale(1.15);
}