.container
{
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    margin: 0 auto;
}

.carousel_container
{
    display: flex;
    
    flex-direction: row;

    align-items: center;

    justify-content: center;

    align-content: center;

    margin: 0 auto;
    
    margin-bottom: 12px;
}

.title
{
    font-size: 20px;

    margin: 0;

    font-family: "Source Sans Pro Regular",sans-serif;

    font-weight: 700;
}

.list_group
{
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    margin: 12px auto;
}

.list_index_element
{
    display:  flex;
    
    margin: 24px 16px;

    padding: 8px 16px;
    
    align-items: center;

    justify-content: center;

    border-radius: 75px;

    background-color: black;

    transition: border 1s ease;
    transition: background-color 0.5s ease-in-out;
}

.list_index_element:first-child
{
    margin-left: 0;
}

.select
{
    background-color: #fff;
    
    border: 5px solid #333f;

    transition-duration: 1s ease;
}