.container
{
    display: flex;

    width: 75rem;

    margin: 0.75rem auto;

    align-items: center;

    text-align: center;

    justify-content: center;

    overflow-x: hidden;
}

.line
{
    display:  flex;

    align-items: center;

    justify-content: center;

    width: 57.5rem;

    height: 0rem;

    border: 1px solid #000a;
}

.text
{
    display: inline;

    flex-direction: row;

    font-size: 20px;

    font-family: "Source Sans Pro Regular",sans-serif;
    
    font-weight: 700;

    align-items: center;

    white-space: nowrap;

    justify-content: center;

    margin: 0 1rem;
}