.container
{
    
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    margin: 4.688rem auto;
}

.divline
{
    padding: 0rem 1rem;
}


.imagegroup
{
    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;    
}

.image
{
    transition: transform 0.25s ease;
}


.image:hover
{
    transition: transform 0.25s ease;

    transform: scale(1.05);
}