.container
{
    display: flex;

    flex-direction: row;

    width: 100%;

    height: 2.813rem;

    align-items: center;

    background-color: #333333;
}

.routelist
{
    display: flex;
  
    justify-content: normal;
  
    align-items: normal;
  
    flex-wrap: nowrap;
  
    margin: auto 5.375rem;
}

.routediv
{
    display: flex;

    align-items: center;
    
    justify-content: center;
    
    flex-direction: row;
}

.route
{
    color: #ffffff;

    font-weight: bold;

    font-size: 16px;

    text-decoration: none;

    padding-right: .5rem;
}

.arrow
{
    display: flex;

    padding-right: .5rem;
}
