.container
{
    display: flex;

    flex-direction: column;

    margin: 0 auto;

    align-items: center;

    justify-content: center;

    background-color: #C4C4C4;
}

.carousel_slide
{
    position: relative;
    
    width: 100%;
    
    overflow: hidden;

    margin: 0;

    padding: 0;

    list-style: none;
}

.carousel_slide_item
{
    display: none;
    
    margin: 0;
}

.fade_image_in
{
    transition: opacity 1s ease;
}

.fade_image_out
{
    opacity: 0;
    
    transition: opacity 1s ease;
}

.fade_background_in
{
    display: flex;

    background: #C4C4C4;
    
    transition: background 0.5s ease;
}

.fade_background_out
{
    display: flex;

    background: #ffffff;
 
    transition: background 0.5s ease;
}