.topBar
{
    display: flex;

    width:100%;
    
    height: 80px;

    margin: 0;

    padding: 0;

    top: 0;

    z-index: 100;

    position: sticky;

    justify-content: space-between;

    align-items: center;

    background-color: #333333;
}

.shopName
{
    color: #FFFFFF;

    font-size: 36px;

    margin-left: 5.375rem;

    text-decoration: none;
}

.seachBar
{
    margin: 0;

    width: 30rem;

    height: 2.813rem;

    display: flex;

    align-content: center;

    justify-content: space-between;

    flex-direction: row;

    background-color: #FFFFFF;

    border: 4.25px solid #FFFFFF;
}

.textInput
{
    width: 24.063rem;

    height: 2.125rem;

    margin-left: 0.938rem;

    font-size: 18px;

    align-self: center;

    color: #000000;

    background-color: #FFFFFF;

    outline: none;

    border: none;
}

.seachButton
{
    display: flex;

    width: 2.813rem;

    height: 2.813rem;

    align-items: center;

    justify-content: center;

    background-color: #333333;

    border: none;
}

.menuButton
{
    width: 3.375rem;

    height: 3.375rem;
    
    margin-left: 0.938rem;

    align-items: center;

    justify-content: center;

    background-color: #333333;

    border: 4.25px solid #FFFFFF;
}

.wishlistButton
{
    width: 1.5rem;

    height: 1.5rem;

    align-items: center;

    margin: 0 0.75rem;

    justify-content: center;

    background-color: #0000;

    border: none;

    outline: none;
}

.loginButton
{

    width: 5.938rem;

    display: flex;

    font-size: 16px;
    
    font-weight: bold;

    color: #fff;

    align-items: center;
    
    justify-content: space-around;

    flex-direction: row;

    margin: 0 .5rem;

    background-color: #0000;

    border: none;

    outline: none;
}

.cartButton
{
    width: 1.5rem;

    height: 1.5rem;
    
    margin: 0 1.5rem 0 0;

    align-items: center;

    justify-content: center;

    background-color: #0000;

    border: none;

    outline: none;
}

.nav_div_start
{   
    display: flex;

    align-items: center;
    
    justify-content: flex-start;
}

.nav_div_mid
{
    display: flex;

    align-items: center;
    
    justify-content: center;
}

.nav_div_end
{
    display: flex;

    align-items: center;

    justify-items: center;

    justify-content: flex-end;
}