.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: min-content;
    margin: 0;
    padding: 0;

    .button-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: $color-white;

        .button-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
    }
}