@mixin mediaQuery($width, $type: min) {
    @if map-has-key($map: $screen-breakpoints, $key: $width) {
        $width: map_get($grid-breakpoints, $width);
        @if $type == min {
            @media (min-width: $width) {
                @content;
            }
        } @else {
            @media (max-width: $width) {
                @content;
            }
        }
    }
}

@function pixelToRem($pixel) {
    $rem: 0;

    @if $pixel > 0 {
        @if $pixel == 1 {
            $rem: 0.25rem;
        } @else {
            $rem: $pixel / 16;
        }
    }

    @return #{$rem}rem;
}

@mixin mediaQueryRange($min, $max) {
    @if (map-has-key($map: $screen-breakpoints, $key: $min) and map-has-key($map: $screen-breakpoints, $key: $max)) {
        $width_max: map_get($grid-breakpoints, $max);
        $width_min: map_get($grid-breakpoints, $min);
        $width_max: $width_max - 1px;
        @media only screen and (min-width: $width_min) and (max-width: $width_max) {
            @content;
        }
    }
}
