@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

//Variables

// variables for fonts

$font-roboto: "Roboto", sans-serif;

$font-nova: "Nunito Sans", sans-serif;

$font-karla: "Karla", sans-serif;

$font-verdana: "Jost", sans-serif;

// variables for colors

$color-black: #000;

$color-black2: #333333;

$color-black3: #383838;

$color-white: #fff;

$color-white2: #F3F1EF;

$color-gray1: #e6e6e6;

$color-gray2: #c4c4c4;

$color-gray3: #CDD3DD;

$color-gray4: #666766;


// Variables for z-index  

$zLevel1: 5;

$zLevel2: 10;

$zLevel3: 15;

$zLevel4: 20;

$zLevel5: 25;

$zLevel6: 30;

$zLevel7: 35;

$zLevel8: 40;


//Breakpoints

// Screen Breakpoints

$screen-breakpoints: (
    xSmall: 320px,
    small: 576px,
    medium: 768px,
    large: 992px,
    xLarge: 1200px,
    xXLarge: 1400px,
);
