.minicart-item-container {
    width: pixelToRem(315);
    
    margin-left: pixelToRem(20);
    
    margin-right: pixelToRem(40);

    &:not(:last-child) {
        margin-bottom: pixelToRem(20);
    }

    @include mediaQuery(xSmall, max) {
        width: calc(100% - 8px);
        
        margin-inline: auto;

        .minicart-item-body
        {
            height: pixelToRem(100) !important;

            .minicart-item-image-container
            {
                width: pixelToRem(80) !important;

                height: pixelToRem(80) !important;

                img {
                    width: pixelToRem(60) !important;

                    height: pixelToRem(60) !important;
                }
            }
            
            .minicart-item-info-container {
                height: pixelToRem(80) !important;

                .minicart-item-info-column
                {
                    .minicart-item-quantity-container {
                        .minicart-item-quantity-selector {
                            width: pixelToRem(70) !important;
                        }
                    }   
                }
            }
        }
    }

    .minicart-item-link {
        color: unset;

        text-decoration: none;

        .minicart-item-body {
            display: flex;

            align-items: center;

            justify-content: space-between;

            width: 100%;

            height: pixelToRem(120);

            padding-bottom: pixelToRem(20);

            border-bottom: 1px solid $color-gray3;

            .minicart-item-image-container {
                display: flex;

                width: pixelToRem(100);

                height: pixelToRem(100);

                align-items: center;

                justify-content: center;

                background: $color-white2;
            }

            .minicart-item-info-container {
                display: flex;

                align-items: flex-start;

                justify-content: center;

                flex: 1;

                height: pixelToRem(100);

                padding: 0 pixelToRem(10);

                .minicart-item-info-column {
                    display: flex;

                    width: 45%;

                    align-items: flex-end;

                    justify-content: space-between;

                    flex-direction: column;

                    height: 100%;

                    &:first-child {
                        align-items: flex-start;

                        justify-content: unset;

                        width: 55%;

                        .minicart-item-text {
                            flex: 1;

                            display: flex;

                            flex-direction: column;

                            align-items: center;

                            justify-content: flex-start;

                            align-self: flex-start;
                        }

                        .minicart-item-sale-container {
                            margin-bottom: pixelToRem(4);
                        }
                    }

                    .minicart-item-text {
                        font-family: $font-nova;

                        font-size: 12px;

                        color: $color-black2;
                    }

                    .minicart-item-sale-container {
                        .minicart-item-sale-text {
                            font-family: $font-nova;

                            color: $color-black2;

                            font-size: 12px;

                            font-weight: 500;

                            text-decoration-line: line-through;

                            text-transform: uppercase;
                        }
                    }

                    .minicart-item-quantity-container {
                        .minicart-item-quantity-selector {
                            display: flex;

                            width: pixelToRem(90);

                            height: pixelToRem(32);

                            align-items: center;

                            justify-content: space-around;

                            border-radius: 4px;

                            border: 1px solid $color-gray3;

                            background: $color-white;

                            .minicart-item-quantity {
                                font-family: $font-nova;

                                font-size: 14px;

                                color: $color-black2;
                            }

                            .minicart-item-quantity-buttons-container {
                                .minicart-item-quantity-button {
                                    img {
                                        width: 14px;

                                        height: 14px;
                                    }
                                }
                            }
                        }
                    }

                    .minicart-item-button-remove {
                        font-family: $font-nova;

                        color: $color-black2;

                        font-size: 10px;

                        text-decoration-line: underline;

                        text-transform: uppercase;
                    }

                    .minicart-item-price {
                        font-family: $font-nova;

                        font-size: 16px;

                        font-weight: 500;

                        color: $color-black2;
                    }
                }
            }
        }
    }
}
